<!--
File: jobs.html
Path: /templates/jobs.html

Purpose:
- Display Dumela service jobs
-->

<!DOCTYPE html>
<html>
<head>
    <title>Service Jobs</title>
</head>
<body>

    <h2>Service Jobs</h2>

    <a href="/jobs/new">+ New Job</a>

    <br><br>

    <table border="1" cellpadding="5">
        <tr>
            <th>ID</th>
            <th>Company</th>
            <th>Address</th>
            <th>Contact</th>
            <th>Phone</th>
            <th>Email</th>
            <th>Service Date</th>
            <th>Manager</th>
            <th>Technician</th>
            <th>Status</th>
        </tr>

        {% for job in jobs %}
        <tr>
            <td>{{ job[0] }}</td>
            <td>{{ job[1] }}</td>
            <td>{{ job[2] }}</td>
            <td>{{ job[3] }}</td>
            <td>{{ job[4] }}</td>
            <td>{{ job[5] }}</td>
            <td>{{ job[6] }}</td>
            <td>{{ job[7] }}</td>
            <td>{{ job[8] }}</td>
            <td>{{ job[9] }}</td>
        </tr>
        {% endfor %}

    </table>

</body>
</html>