<!DOCTYPE html>
<html>
<head>
    <title>Verify Code</title>
</head>
<body>

    <h2>Enter Your Code</h2>

    {% if error %}
        <p style="color:red;"><strong>{{ error }}</strong></p>
    {% endif %}

    <p>We sent a 6-digit code to your email and WhatsApp</p>

    <form method="POST" action="/auth/verify-otp">
        <input type="hidden" name="contact" value="{{ contact }}">
        <input type="hidden" name="client_number" value="{{ client_number }}">

        <label>Enter Code:</label><br>
        <input type="text" name="code" maxlength="6" required><br><br>

        <button type="submit">Verify Code</button>
    </form>

    <br><br>
    <hr>

    <p>Didn’t receive it?</p>

    <form method="POST" action="/auth/request-otp">
        <input type="hidden" name="contact" value="{{ contact }}">
        <input type="hidden" name="client_number" value="{{ client_number }}">

        <button type="submit">
            Resend code
        </button>
    </form>

</body>
</html>